<!-- <h1>Book a Table</h1>

<form [formGroup]="bookingDetails" (ngSubmit)="captureBookingDetails()">
    <label>Email : </label>
    <input id="bemail" type="text" [formControl]="bookingDetails.controls.email"/>
    <br/>
    
    <label>Booking Date : </label>
    <input id="bname" type="text" [formControl]="bookingDetails.controls.bookingDate"/>
    <br/>

    <label>Booking Time : </label>
    <input id="btime" type="text" [formControl]="bookingDetails.controls.bookingTime"/>
    <br/>

    <label>No of people : </label>
    <input id="headcount" type="number" [formControl]="bookingDetails.controls.headCount"/>
    <br/>

    <button type="submit">Book</button>
</form> -->


<h1>Book Table Component</h1>
<p> Current Random Number from Observable in BookTableComponent : {{currentNumberObservable}}</p>
<p> Current Random Number from Subject in BookTableComponent : {{currentNumberSubject}}</p>